<!--
<div class="fond" style="font-family: AmstelvarAlpha;font-style: oblique">
  
       
       <div class="row">
        <div class="col">
            <h1>Welcome to  </h1> 
            <p>
                <span>Who We Are:</span><br>
                paintclub is not just a painting club; it's a canvas of possibilities where artists come together to share their love for painting. Whether you're a seasoned artist or picking up a brush for the first time, we welcome you to join our diverse community of creative <br>
                
                <span>What We Offer:</span><br>
                
                Workshops and Tutorials: From beginner basics to advanced techniques, our club hosts regular workshops and tutorials to help you enhance your painting skills.
                Open Studio Sessions: Enjoy dedicated time and space to work on your projects in a collaborative and encouraging environment.
                Artistic Challenges: Engage in themed challenges and prompt-based activities to spark your creativity and explore new styles. <br>
                <span>Our Values:</span><br>
                <span>Join Us:</span><br>
                Ready to unleash your creativity and connect with fellow art enthusiasts? Becoming a member is easy! Attend one of our upcoming events, participate in a workshop, or simply drop by one of our open studio sessions. Let's paint a vibrant picture together!
                
                paintclub Where Every Stroke Tells a Story.
                    </p>
        </div>
        <div class="col c1" >
            <img class="img-fluid rounded-circle" src="assets/im1.jpeg" alt="">
            
        </div>

    </div>
    
       
</div>
-->

<section id="hero" class="d-flex align-items-center" style="background-image: url('assets/back3.jpeg')">
    <div class="container" data-aos="zoom-out" data-aos-delay="100" >
      <h1>Welcome to <span style="font-style: oblique;font-family: AmstelvarAlpha;">PaintClub</span> <br> Where Every Stroke Tells a Story.</h1>
      <div class="mb-0">
        <p>
      </p>
    <p>
      <span>What We Offer:</span><br>
      
      Workshops and Tutorials: From beginner basics to advanced techniques, our club hosts regular workshops and tutorials to help you enhance your painting skills. <br>
      Open Studio Sessions: Enjoy dedicated time and space to work on your projects in a collaborative and encouraging environment.
      Artistic Challenges: Engage in themed challenges and prompt-based activities to spark your creativity and explore new styles. <br>
    </p>
    <p>
      <span>Join Us:</span><br>
      Ready to unleash your creativity and connect with fellow art enthusiasts? Becoming a member is easy! Attend one of our upcoming events, participate in a workshop, or simply drop by one of our open studio sessions. Let's paint a vibrant picture together!
    </p>
    
      </div>
      <div class="d-flex">
        <button class="nav-link"><a  routerLink="/login">Get Started</a></button>

      </div>
    </div>
  </section>