
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>PaintClub</h3>
          <p>Welcome Admin!</p>
      </div>

      <ul class="list-unstyled components">
        <li class="active">
          
            
            <a class="has-arrow nav-text" routerLink="info" routerLinkActive="active" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
            </svg>  Infos </a>
            
        </li>

<li><hr></li>
          <li class="active">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
              </svg>
                Workshop Configuration
                <ul class="list">
                    <li>
                        <a class="has-arrow nav-text" routerLink="addworkshop" routerLinkActive="active" >Add Workshop </a>
                    </li>
                    
                    <li>
                        <a class="has-arrow nav-text" routerLink="deleteworkshop" routerLinkActive="active">Delete Workshop
                        </a>
                    </li>
                </ul>
            </span>
          </li>


            <li><hr></li>



            <li class="nav-item nav-label">
                    
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                </svg> Member Configuration

                <ul class="list">
                  <li>
                      <a class="has-arrow nav-text" routerLink="deletemembre" routerLinkActive="active">Delete Member
                      </a>
                  </li>
                </ul>
            </li>
              
                
       
          <li><hr></li>


                <li class="nav-item nav-label">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-nested" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5m-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5"/>
                    </svg>
                          Event Configuration
                          <ul class="list">
                              <li>
                                  <a class="has-arrow nav-text" aria-expanded="false" routerLink="checkparticipants" routerLinkActive="active">Check Participants
                                  </a>
                              </li>
                              
                            </ul>  
                </li>
         
                
</ul>
                <ul class="list-unstyled components">
                  <li>
                    <button type="button" class="btn btn-outline-light">Logout</button>
                  </li>
                  
              </ul>
</nav>
</div>

        