<div class="fond">
    <div class="row">
        <div class="col" style="padding-top: 70px;">
            <h1 id="#">PaintClub</h1>
            <p>"Discover the joy of painting at our vibrant Paint Club! <br>Whether you're a seasoned artist or a beginner, join us for a canvas of creativity and community. <br> Let's make art together!"
            </p>
            <button  type="button" class="nav-link" routerLink='/aboutus'>know more about us</button>
        </div>
 
            
              <div class="col-md-4">
                <div class="rounded-circle shadow">
                  <img class="img-fluid rounded-circle" src="assets/images.jpeg" alt="">
                </div>
</div>   
 
  <h3 style="font-style: oblique ; font-family: AmstelvarAlpha; font-size: 48px; font-weight: bold;" class="text-center">Our Photo Album</h3><br>
  <div class="container text-center"style=" float: right; margin-left: 100px; " >
    <div class="row col-sm-15"  >
      
      <div class="col-sm-4 text-center" >
        <img src="assets/expose3.jpg" class="img-responsive" style="width:70px height=50px" alt="Image">
      </div>
      <div class="col-sm-4">
        <img src="assets/expose4.jpg" class="img-responsive" style="width:70px height=50px" alt="Image">
      </div>
      <div class="col-sm-4">
        <img src="assets/expose2.jpg" class="img-responsive" style="width:70px height=50px" alt="Image">
        </div>
        
    </div>
    <div class="row col-sm-15 col2"  >
      
      <div class="col-sm-4 text-center" style="margin-top: 20px;" >
        <img src="assets/expose1.jpg" class="img-responsive" style="width:70px height=50px" alt="Image">
      </div>
      <div class="col-sm-4" style="margin-top: 20px;">
        <img src="assets/expose5.jpg" class="img-responsive" style="width:70px height=50px" alt="Image">
      </div>
      <div class="col-sm-4 img6" style="margin-top: 25px;">
        <img src="assets/download.jpeg" class="img-responsive" style="width:70px height=40px" alt="Image">
        </div>
        
    </div>
  </div>



</div>

