 <!DOCTYPE html> 
 <html lang="en"> 
 <head> 
   <meta charset="UTF-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <title>Document</title> 
   <link rel="stylesheet" href="homepage.component.css"> 
 </head> 
 <body> 
    <div class="fond">
        <div class="row">
            <div class="col">
                <h1>PaintClub</h1>
                <p>"Discover the joy of painting at our vibrant Paint Club! <br>Whether you're a seasoned artist or a beginner, join us for a canvas of creativity and community. <br> Let's make art together!"
                </p>
                <button  type="button" class="nav-link" routerLink='/ateliers'>see workshops</button>
            </div>
            <div class="col c1" >
                <img class="img-fluid rounded-circle" src="assets/images.jpeg" alt="">
                
            </div>
    
        </div>
    </div>
    <footer >
        <div ><p >Adresse : rue des entrepreneurs Charguia 2 <br>num tel :23568425</p></div>
    </footer>
 </body> 
 </html>  

