
<h2 class="text-center">Delete Member!</h2>
<br><br>

<form class="row g-3 mx-auto" [formGroup]="deleteform">
<div class="elements">
  <div class="col-md-6">
    <label>Choose member to remove:</label>
    <select class="form-select" name="" id="" formControlName="user">
      <option disabled>Choose member</option>
      <option *ngFor="let m of member" [ngValue]="m.nom">{{m.nom}}</option>
    </select>
  </div>

  <div *ngIf="selectoblig()" class="alert alert-danger mt-2 col-md-6">
    Selection is necessary!
  </div>
</div>
  <div class="col-12 d-flex justify-content-center mt-4">
    <button class="btn btn-outline-danger" (click)="delete()" style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="deleteform.invalid">
      Delete Member
    </button>
  </div>

</form>
