.fond{ 
    width: 100%;
    height: 100%;
    background-image: url(src/assets/back3.jpeg); 
    background-position: center; 
    background-size:cover;
    margin-top: -25px;
    font-style: oblique ;
    font-family: AmstelvarAlpha;
    
} 
image{
    size: 300%;
}
h1{
    font-weight: bold;
    margin-top: 40px;
  
}

.formlabel{
    font-style: oblique ;
    font-family: AmstelvarAlpha;
}