
image{
    size: 300%;
    box-shadow: 0 4px 9px 12;
}
h1{
    font-weight: bold;
    margin-top: 40px;
  
}

.formlabel{
    font-style: oblique ;
    font-family: AmstelvarAlpha;
}
input.ng-valid{
    border-left: 3px solid green;
}
input.ng-invalid{
    border-left: 3px solid red;
}
