
        <nav class="navbar navbar-expand-lg navbar-light  shadow-sm" style="background-color: rgb(224, 247, 255);" >
            <div class="container px-5">
                <div class="navbar-brand fw-bold"style="font-style: oblique;font-family: AmstelvarAlpha; font-size: 35px;">PaintClub</div>
                
                <div class="collapse navbar-collapse" >
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item"><a class="nav-link me-lg-3"style="font-style: oblique;font-family: AmstelvarAlpha; "  routerLink='/homepage'>HomePage</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3"style="font-style: oblique;font-family: AmstelvarAlpha;" routerLink='/ateliers'>Our Workshops</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3"style="font-style: oblique;font-family: AmstelvarAlpha;" routerLink='/aboutus'>About Us</a></li>
                    
                        <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal" *ngIf="!ateliercomp()">
                          <span class="d-flex align-items-center">
                              
                              <span class="small"  routerLink='/login' style="font-style: oblique;font-family: AmstelvarAlpha;">Login</span>
                          </span>
                      </button>

                      <form  [formGroup]="searchform">

                    <span class="d-flex align-items-center" *ngIf="!log()">
                    <select class="selectpicker" formControlName="select">
                        <option  disabled>choose workshop </option>
                        <option [ngValue]="a.id" *ngFor="let a of lesateliers">{{a.nom}}</option>
                      </select>

                    
                      <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal">
                        <span class="d-flex align-items-center">
                            <span class="small"   [routerLink]="['/ateliers/selectedatelier', searchform.get('select')?.value]" style="font-style: oblique;font-family: AmstelvarAlpha;">Search</span>
                        </span>
                    </button>

</span>
</form>

                      </ul>
                    
                </div>
            </div>
  </nav>