#d{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#BDB2FF ;
    text-align: center;
    color: black;
    font-family: AmstelvarAlpha ;
    font-style: oblique;
}  

